
Algoritmoseestruturadedados.csproj
obj/Algoritmoseestruturadedados.csproj.nuget.dgspec.json
obj/Algoritmoseestruturadedados.csproj.nuget.g.props
Algoritmoseestruturadedados.sln
obj/Algoritmoseestruturadedados.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/Algoritmoseestruturadedados.GlobalUsings.g.cs
obj/Debug/net8.0/Algoritmoseestruturadedados.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/Algoritmoseestruturadedados.assets.cache
obj/Debug/net8.0/Algoritmoseestruturadedados.AssemblyInfoInputs.cache
obj/Debug/net8.0/Algoritmoseestruturadedados.AssemblyInfo.cs
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
bin/Debug/net8.0/Algoritmoseestruturadedados.deps.json
*.dll
